[submodule "micromouse-control-module"]
	path = micromouse-control-module
	url = git@github.com:Teruru-52/micromouse-control-module.git
[submodule "MazeSolver2015"]
	path = MazeSolver2015
	url = git@github.com:Teruru-52/MazeSolver2015.git
